$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$font-serif: 'amandine';
$font-sans: 'aktiv-grotesk';
$font-sans-ex: 'aktiv-grotesk-extended';

$color-primary: #94A684;
$color-dark: #536247;
$color-secondary: #EEF6E8;

$outside-margin: 2.5rem;
