footer.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-dark;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.footer__container {
  @extend %center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  @extend %outside-padding;
}

.footer__links {
  @extend %center;
  flex-direction: row;
  text-align: center;
  margin-bottom: 4rem;

  @include media('<=phone') {
    flex-direction: column;
  }
}

.footer__links__item {
  text-transform: uppercase;

  @include media('>phone') {
    &:not(:last-child) {
      margin-right: 2.25rem;
    }
  }

  @include media('<=phone') {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

}

.footer__contact {
  @extend %title-1;
  margin-bottom: 2rem;

}

.footer__logo {
  margin-bottom: 2rem;

  img {
    width: 100%;
  }

  &::before {
    display: block;
    content: '';
    background-color: $color-secondary;
    height: 1px;
    margin-bottom: 2rem;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  @include media('<=phone') {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__copyrights {

  @include media('<=phone') {
    order: 1;
  }
}

.footer__privacy {}