.navigation {
  z-index: 50;
  @extend %outside-padding;
  padding-block: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  z-index: 2;
  @include w-col(2);

  a {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.navigation__links {
  z-index: 2;

  :not(:last-child) {
    margin-right: 2.25rem;
  }

  button {
    @include button(true);
  }
}

.navigation__links__locale {
  @include media('<=phone') {
    display: none;
  }
}

.navigation__inner__links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-color: $color-dark;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
}

.navigation__links__item {
  @extend %title-2;
  margin-right: 2.5rem;

  a {
    display: block;
  }
}